

.cart-item {
      display: flex;
      margin-bottom: 20px;
      padding-left:30px;
        }
.card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      display: flex;
      width: 100%;
      max-width: 700px;

        }


.card-body {
      flex-grow: 1;

        }

.btn {
     margin-top: auto;
        }

.card-img:hover {
    transform:scale(1.1);
         }
.button button{
    background-color:blue;
    border:none;
    border-radius:5px;

}