.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  max-height:800px ;
  margin: auto;
  text-align: center;
  font-family: arial;

}

.card-img-top:hover{
 transform:scale(1.1);

}